<a href="https://colab.research.google.com/github/Rivstart/DataScience/blob/main/Lec01_Apr_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# print function prints output to the console
print('hello world')

hello world

In [ ]:
# by default python uses newline '\n' as an 'end' parameter value
print('hello')
print('world')

hello
world

In [ ]:
# overwriting the 'end' value with hyphen, by default its '\n' newline character
print('hello', end='-')
print('world')

hello-world

In [ ]:
# passing multiple values
print('apple', 'banana','orange')

apple banana orange

In [ ]:
# use 'sep' to separate values with any special chanracter
print('apple', 'pears','grapes', sep=',')

apple,pears,grapes

In [ ]:
# input function takes user input
user_input = input('Enter your name : ')
print('Hello ' + user_input)
print(type(user_input))

Enter your name : John Doe
Hello John Doe
<class 'str'>

In [ ]:
# how to use multiple line comments using triple quotes
'''
This is very long multiline line comment, multiline comments are used where to write details of any function that how it works
'''
print('multiline line comment')

multiline line comment

In [ ]:
# indentation
x = 5
if x > 3:
  print(f'{x} is greater')

5 is greater

In [ ]:
# variables, always give meaningful names to variables
# never use python keywords as user defined variable names
total_number_of_students = 20

# assigning multiple values to multiple variables in single line
# if number of variables on left hand side is not equal to the values assigned on right hand side, it will generate error
x, y, z = 5, 3, 2
print(f'x : {x}, y : {y}, z : {z}')

x : 5, y : 3, z : 2

In [ ]:
# what is the data type : nature of data that any variable can hold
int_number = 10
float_number = 10.20
string_text = 'Hello World'
complex_number = 2 + 3j

# to find the type of any variable
print(type(int_number))
print(type(complex_number))
print(type(string_text))

# to see imaginary and real parts of complex number
print(f'real : {complex_number.real}')
print(f'imag : {complex_number.imag}')

<class 'int'>
<class 'complex'>
<class 'str'>
real : 2.0
imag : 3.0